extends ./layout/default
block title
    title zzw

block content
     .container-fluid
        .sidebar
        .content
            .row
                .col-md-6
                    .card
                        img.card-img-top(src='', data-video='')
                    .card-body
                        h4.card-title 这是电影标题
                        p.card-desc 这是电影描述
                    .card-footer
                        small.text-muted 1
                .col-md-6
                    .card
                        img.card-img-top(src='', data-video='')
                    .card-body
                        h4.card-title 这是电影标题
                        p.card-desc 这是电影描述
                    .card-footer
                        small.text-muted 1
                .col-md-6
                    .card
                        img.card-img-top(src='', data-video='')
                    .card-body
                        h4.card-title 这是电影标题
                        p.card-desc 这是电影描述
                    .card-footer
                        small.text-muted 1
                .col-md-6
                    .card
                        img.card-img-top(src='', data-video='')
                    .card-body
                        h4.card-title 这是电影标题
                        p.card-desc 这是电影描述
                    .card-footer
                        small.text-muted 1